services:
  # PostgreSQL Database
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./ny_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    networks:
      - dtc-net

  # pgAdmin web interface
  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin
  #   restart: always
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@admin.com
  #     PGADMIN_DEFAULT_PASSWORD: root
  #   ports:
  #     - "8080:80"
  #   depends_on:
  #     - db
  #   networks:
  #     - dtc-net

# Optional named volumes for persistent data
volumes:
  pgdata:
    driver: local

# Custom network
networks:
  dtc-net:
    driver: bridge
