# Data files
*.csv
*.csv.gz
*.parquet
ny_data

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
venv/
.env
.dtc-env
.idea
.DS_Store

# Docker
.docker-volumes/

# logs
logs/

# OTHER
final-project-idea.md
dtc-env